html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}
.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: 'Bebas Neue', cursive;
}
.livesContainer {
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  gap: 5px;
}
.livesContainer > img {
  height: 40px;
}
.time {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 6vh;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.time > p {
  line-height: 0;
  padding-left: 5%;
  padding-right: 4%;
}
.restart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 80px;
  padding-top: 10px;
  pointer-events: auto;
  cursor: pointer;
  background: #00000033;
}
.restart :first-child:hover {
  color: gold;
}
.restart :last-child:hover {
  color: red;
}
.controls {
  position: absolute;
  bottom: 10%;
  left: -40%;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #ffffff44;
}

.controls .key.large {
  width: 144px;
}

.controls .key.active {
  background: #ffffff99;
}
.level {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
.level :first-child {
  font-size: xx-large;
}
